body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* css code */
/* .dndflow {
  display: flex;
}

.reactflow-wrapper {
  flex-grow: 1;
}

.nodes-panel,
.settings-panel {
  width: 200px;
  padding: 10px;
  background: #f7f7f7;
  border-right: 1px solid #ccc;
}

button {
  margin-top: 10px;
} */

